<div class="login-body">
  <form [formGroup]="loginFormGroup" (ngSubmit)="validateLoginUser()">
    <mat-card>
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <!-- Email -->
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input
              matInput
              placeholder="test@email.com"
              formControlName="email"
            />
          </mat-form-field>
        </p>

        <!-- Password -->
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput type="password" formControlName="password" />
          </mat-form-field>
        </p>
      </mat-card-content>
      <mat-card-footer>
        <div class="login-card-footer">
          <div class="forget-password">
            <a href="">Forget Password?</a>
          </div>

          <button mat-raised-button color="warn" (click)="formReset()">
            Clear
          </button>
          <button mat-raised-button color="warn" type="submit">Login</button>
        </div>
      </mat-card-footer>
    </mat-card>
  </form>
</div>
