.login-body {
    margin: auto;
    width: 30%;
    padding-top: 10%;
    text-align: center;
}

p {
    margin: 35px !important;
}

.mat-form-field {
    display: block;
    position: relative;
    text-align: left;
}

.mat-card {
    border: 3px solid red;
    border-radius: 30px;
}

.login-card-footer {
    text-align: center;
    button {
        margin-top: 10px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .forget-password {
        margin: 10px;
    }
}