<div class="login-body">
  <form [formGroup]="loginForm" (ngSubmit)="validateLoginUser()">
    <mat-card>
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input
              matInput
              placeholder="test@email.com"
              formControlName="email"
              (focus)="testFocus()"
              id="emailID"
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput type="password" formControlName="password" (focus)="testFocus()" />
          </mat-form-field>
        </p>
      </mat-card-content>
      <mat-card-footer>
        <div class="login-card-footer">
          <div class="footer-href-link">
            <a class="forget-password">Forget Password?</a>
            <a routerLink="/sign-up" class="sign-up">New-User SignUp</a>
          </div>

          <button mat-raised-button color="warn" (click)="formReset()">
            Clear
          </button>
          <button mat-raised-button color="warn" type="submit">Login</button>
         
        </div>
      </mat-card-footer>
    </mat-card>
  </form>

  <div *ngIf="status">
      <h1>Hello!!!!!</h1>
  </div>

</div>
