<div class="restaurant-content">
  <div class="restaurant-content-left">
    <h1 class="heading">Restaurants</h1>
    <div *ngFor="let restaurant of restaurantDetails; let i = index">
      <button
        mat-button
        name="test{{ i }}"
        (onClick)="
          selectRestaurant(restaurant.restaurantId, restaurant.foodItems)
        "
      >
        {{ restaurant.restaurantName }}
      </button>
    </div>
  </div>

  <div class="restaurant-content-right">
    <h1 class="heading">Food Items</h1>
    <div class="food-img" *ngIf="imageFlag">
      <img src="/assets/food-image.jpg" alt="food-image" />
    </div>
    <div *ngIf="!imageFlag">
      <mat-card color="warn" *ngFor="let food of foodItems">
        <mat-card-title>{{ food.foodName }} </mat-card-title>
        <mat-card-content>{{ food.foodCategory }} </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="footer-restaurant">
    <button mat-button name="proceedToOrder" class="btn-proceedToOrder">
      Proceed to Order
    </button>
  </div>
</div>
