.sign-up-body {
    margin: auto;
    width: 30%;
    text-align: center;
    padding-top: 6%;
}

p {
    margin: 10px !important;
}

.mat-form-field {
    display: block;
    position: relative;
    text-align: left;
}

.mat-card {
    border: 3px solid red;
    border-radius: 30px;
}

.sign-up-card-footer {
    text-align: center;
    button {
        margin-top: 10px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}