<div class="sign-up-body">
  <form [formGroup]="signUpForm" (ngSubmit)="registerNewUser()">
    <mat-card>
      <mat-card-title>SignUp</mat-card-title>
      <mat-card-content>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" />
            <mat-error
              *ngIf="signUpForm.get('firstName')?.hasError('required')"
            >
              FirstName is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" />
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="test@email.com"
              formControlName="email"
            />
            <mat-error *ngIf="signUpForm.get('email')?.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="fill">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phoneNumber" />
            <mat-error
              *ngIf="signUpForm.get('phoneNumber')?.hasError('required')"
            >
              Phone Number is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" />
            <mat-error *ngIf="signUpForm.get('password')?.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" formControlName="confirmPassword" />

                       
            <mat-error *ngIf="signUpForm.get('confirmPassword')?.hasError('required')">
              Confirm Password is <strong>required</strong>
            </mat-error> 

            <mat-error
              *ngIf="
                !signUpForm.get('password')?.hasError('required') &&
                !signUpForm.get('confirmPassword')?.hasError('required') &&
                signUpForm.get('password')?.value !=
                  signUpForm.get('confirmPassword')?.value
              "
            >
              Password <strong> not matched! </strong>
            </mat-error>
          </mat-form-field>
        </p>
      </mat-card-content>
      <mat-card-footer>
        <div class="sign-up-card-footer">
          <button mat-raised-button color="warn" (click)="signUpFormReset()">
            Clear
          </button>
          <button mat-raised-button color="warn" type="submit">Register</button>
        </div>
      </mat-card-footer>
    </mat-card>
  </form>
</div>

<spinner></spinner>
